[storage]
engine = file_system
path = .nixpkgs/hm/dotfiles/mackup
directory = backup

[applications_to_sync]
# raycast
transmission
lazygit
kubectl
# iina
gitkraken
fantastical
macosx
docker
apple-music
