[submodule ".nixpkgs/.nixpkgs/hm/dotfiles/iterm/rose-pine"]
	path = .nixpkgs/.nixpkgs/hm/dotfiles/iterm/rose-pine
	url = git@github.com:rose-pine/iterm.git
[submodule ".nixpkgs/hm/dotfiles/iterm/rose-pine"]
	path = .nixpkgs/hm/dotfiles/iterm/rose-pine
	url = git@github.com:rose-pine/iterm.git
[submodule ".nixpkgs/hm/dotfiles/git/gitalias"]
	path = .nixpkgs/hm/dotfiles/git/gitalias
	url = git@github.com:GitAlias/gitalias.git
[submodule ".nixpkgs/hm/dotfiles/kitty/rose-pine"]
	path = .nixpkgs/hm/dotfiles/kitty/rose-pine
	url = git@github.com:rose-pine/kitty.git
