//registry.npmjs.org/:_authToken=b6ed80d5-ca6b-4576-aeff-f13a32252f0a
@ffn:registry=https://ffn.jfrog.io/ffn/api/npm/npm/
//ffn.jfrog.io/ffn/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJvSkhIQ283SDR5SmFkdElFaHVFNFdRU3dYUlkxZWRyUU1GcmRZY2M3Ml80In0.eyJzdWIiOiJqZnJ0QDAxZDJrMGdyNWczamplMDQ5a250bmcxd3hzXC91c2Vyc1wvYWx0aG9tYXMiLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOiogYXBpOioiLCJhdWQiOiJqZnJ0QDAxZDJrMGdyNWczamplMDQ5a250bmcxd3hzIiwiaXNzIjoiamZydEAwMWQyazBncjVnM2pqZTA0OWtudG5nMXd4c1wvdXNlcnNcL2FsdGhvbWFzIiwiaWF0IjoxNjA0NTEwMDI3LCJqdGkiOiI2MmUwZmU4Yi1kZGZhLTQyZTItYWRlOC04ODAwM2RhY2FlYWIifQ.GRdI31Xu0IM9BqlcAu1IvQ5nrD3aWEZqrs6C0MjCMS_A21o2mnZrra37HlXeaRFEvDnpewfanNWyLvZT4y0Pej1qG0Son9RFSzHh72LIVj6iUGyIiPN3yFf1kPY6pLli3Ob3bD4W-QnDbUgtkBuf7NymaX2EA0qUIoCUqDqAAiWCB5sRdV4AYEfHCsouo-DnbZ-KQIfUieyLzRXG0iKMNvrxBWC8H85Asc4IDrr8-yjCZB6QTNNyeQr_XoOt5QJ1wEus7zsvvSwFmIBUq0D5rBxXhliHX3sivrYvW32jUsGM_efvetlH9IsZRONSdbS_AakqIt1Mgvx1MtHi5HlsBw
